@page "/priority-classes"

@inject JobSchedulingSystem _jobScheduling
@inject TimeoutProvider _timeoutProvider

<h1>Priority classes</h1>

<table class="job-queue">
    <colgroup>
        <col class="client" />
        <col class="count" />
        <col class="time" />
    </colgroup>

    <thead>
        <tr>
            <th>Client</th>
            <th>Job Count</th>
            <th>Time Taken (s)</th>
        </tr>
    </thead>

    @for (int i = _jobScheduling.PriorityClasses.Count; i > 0; --i)
    {
        var classe = _jobScheduling.PriorityClasses[i - 1];

        <tbody>
            <tr class="priority-class">
                <th>Priority Class @(i-1)</th>
                <th>Weight @classe.AsFlow().Weight</th>
                <th><i>(label)</i></th>
            </tr>

            @foreach (var (key, client) in classe.ListMembers().OrderBy(item => item.Key.Title))
            {
                var stats = client.CompletionStatistics;
                var seconds = (double)stats.CumulativeCharge / 1000.0;

                <tr class="job-queue">
                    <td>@key</td>
                    <td>@client.Count</td>
                    <td>@seconds.ToString("F3")</td>
                </tr>
            }
        </tbody>
    }
</table>
