@page "/priority-classes"
@using Hearty.Common

@inject IJobQueueSystem _jobQueues
@inject TimeoutProvider _timeoutProvider

<h1>Priority classes</h1>

<table class="job-queue">
    <colgroup>
        <col class="client" />
        <col class="count" />
        <col class="time" />
    </colgroup>

    <thead>
        <tr>
            <th>Client</th>
            <th>Job Count</th>
            <th>Time Taken (s)</th>
        </tr>
    </thead>

    @for (int i = _jobQueues.PriorityClassesCount; i > 0; --i)
    {
        <tbody>
            <tr class="priority-class">
                <th>Priority Class @(i-1)</th>
                <th>Weight @_jobQueues.GetPriorityClassWeight(i-1)</th>
                <th><i>(label)</i></th>
            </tr>

            @foreach (var (key, queue) in _jobQueues.GetClientQueues(i-1)
                                                    .OrderBy(item => item.Key))
            {
                var stats = queue.CompletionStatistics;
                var seconds = (double)stats.CumulativeCharge / 1000.0;
                bool showDetails = ShouldDisplayInDetail(key);

                <tr class="job-queue">
                    <td>@key.Owner</td>
                    <td>@queue.Count</td>
                    <td>
                        @seconds.ToString("F3")
                        <a @onclick="() => AddToDetailDisplay(key)">(+)</a>
                    </td>
                </tr>

                if (showDetails)
                {
                    <tr>
                        <td colspan="3">Details</td>
                    </tr>

                    foreach (IPromisedWorkInfo job in queue)
                    {
                        <tr>
                            <td>@job.Route</td>
                            <td>@job.Path</td>
                            <td>@(job.PromiseId?.ToString() ?? string.Empty)</td>
                        </tr>
                    }
                }
            }
        </tbody>
    }
</table>
