@using System.Runtime.InteropServices
@using Hearty.Work
@inject DisplaySpecialization _displaySpecialization
@inject NavigationManager _navigationManager

<table>
    <tr>
        <th>Hearty version</th>
        <td>@GitVersionInformation.FullSemVer @GitVersionInformation.CommitDate</td>
    </tr>

    <tr>
        <th>.NET version</th>
        <td>@RuntimeInformation.FrameworkDescription</td>
    </tr>

    <tr>
        <th>Operating system</th>
        <td>@RuntimeInformation.OSDescription</td>
    </tr>

    <tr>
        <th>Processor architecture</th>
        <td>@RuntimeInformation.ProcessArchitecture</td>
    </tr>

    <tr>
        <th>URL for dashboards</th>
        <td>@(_displaySpecialization.GetServerUrl(_navigationManager))</td>
    </tr>

    <tr>
        <th>WebSockets URL for workers</th>
        <td>@(_displaySpecialization.GetWorkersWebSocketsUrl(_navigationManager)?.ToString())</td>
    </tr>

</table>
